
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Medica HTML Template | Home Page 01</title>
	<!-- Stylesheets -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/jquery.fancybox.min.css" rel="stylesheet">
	<link href="css/icofont.css" rel="stylesheet">
	<link href="css/flaticon.css" rel="stylesheet">
	<link href="css/owl.theme.default.min.css" rel="stylesheet">
	<link href="css/base.css" rel="stylesheet">
	<link href="css/color.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
</head>
<body>
	<div class="page-wrapper">
		<!-- preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">x</div>
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="m" class="letters-loading">
                                m
                            </span>
                            <span data-text-preloader="e" class="letters-loading">
                                e
                            </span>
                            <span data-text-preloader="d" class="letters-loading">
                                d
                            </span>
                            <span data-text-preloader="i" class="letters-loading">
                                i
                            </span>
                            <span data-text-preloader="c" class="letters-loading">
                                c
                            </span>
							<span data-text-preloader="a" class="letters-loading">
                                a
                            </span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- preloader end -->

		<!--Search Popup-->
        <div id="search-popup" class="search-popup">
            <div class="popup-inner">
                <div class="upper-box clearfix">
                    <figure class="logo-box pull-left"><a href="index.html"><img src="images/Logo-(1).png" alt="" title=""></a></figure>
                    <div class="close-search pull-right"><span class="fa fa-times"></span></div>
                </div>
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="search-form">
                        <form method="post" action="index.html">
                            <div class="form-group">
                                <fieldset>
                                    <input type="search" class="form-control" name="search-input" value=""
                                        placeholder="Type your keyword and hit" required>
                                    <button type="submit"><i class="flaticon-search"></i></button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- sidebar cart item -->
        <div class="xs-sidebar-group info-group info-sidebar">
            <div class="xs-overlay xs-bg-black"></div>
            <div class="xs-sidebar-widget">
                <div class="sidebar-widget-container">
                    <div class="widget-heading">
                        <a href="#" class="close-side-widget"><span class="icofont-close"></span>
						</a>
                    </div>
                    <div class="sidebar-textwidget">
                        <div class="sidebar-info-contents">
                            <div class="content-inner">
                                <div class="logo">
                                    <a href="index.html"><img src="images/Logo-(1).png" alt="" title=""></a>
                                </div>
                                <div class="text-box">
                                    <h4>About Medica</h4>
                                    <p>Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt
                                        labore magna aliqua enim minim veniam nostrud exercitation aboris nis aliquip
                                        exeo.</p>
                                </div>
                                <div class="info-inner">
                                    <h4>Find Us Our Location</h4>
                                    <ul class="info clearfix">
                                        <li><i class="flaticon-location"></i>
											629 12th St, Modesto, CA 95354 United States</li>
                                        <li><i class="flaticon-envelope"></i>
											<a href="mailto:medicamain@gmail.com">medicamain@gmail.com</a></li>
                                        <li><i class="flaticon-phone"></i>
											<a href="tel:123045615523">+1 (230)-456-155-23</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-inner">
                                    <h4>Follow Us On</h4>
                                    <ul class="social-links clearfix">
                                        <li class=""><a href="index.html" class=""><i class="flaticon-facebook"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-twitter"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-instagram"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END sidebar widget item -->

		<!-- header section start -->
		<header class="main-header">
			<div class="auto-container">
				<!-- Header Upper -->
				<div class="header-upper outer-box">
					<div class="logo-outer">
						<div class="logo"><a href="index.html"><img src="images/Logo-(1).png" alt="" title=""></a></div>
					</div>
					<!-- Main Menu -->
					<div class="menu-area clearfix">
	                    <!--Mobile Navigation Toggler-->
	                    <div class="mobile-nav-toggler">
	                        <i class="icon-bar"></i>
	                        <i class="icon-bar"></i>
	                        <i class="icon-bar"></i>
	                    </div>
	                    <nav class="main-menu navbar-expand-md navbar-light">
	                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
	                            <ul class="navigation clearfix">
									<li class="current dropdown"><a href="index.html">Home</a>
										<ul>
											<li><a href="index.html">Home page 01</a></li>
											<li><a href="index-2.html">Home page 02</a></li>
											<li><a href="index-3.html">Home page 03</a></li>
											<li><a href="index-4.html">Home page 04</a></li>
											<li><a href="index-5.html">Home page 05</a></li>
											<li class="dropdown"><a href="#">Header Styles</a>
												<ul>
													<li><a href="index.html">Header Style One</a></li>
													<li><a href="index-2.html">Header Style Two</a></li>
													<li><a href="index-3.html">Header Style Three</a></li>
													<li><a href="index-4.html">Header Style Four</a></li>
													<li><a href="index-5.html">Header Style Five</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li><a href="about.html">About us</a></li>
									<li class="dropdown"><a href="doctors.html">Doctors</a>
										<ul>
											<li><a href="doctors.html">Our Doctors</a></li>
											<li><a href="doctors-details.html">Doctor Details</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="service.html">Services</a>
										<ul>
											<li><a href="service.html">Our Services</a></li>
											<li><a href="service-single.html">Service Details</a></li>
										</ul>
									</li>
									<li class="dropdown"><a href="index.html">Other</a>
										<ul>
											<li class="dropdown"><a href="blog.html">Blog</a>
												<ul>
													<li><a href="blog.html">blog page</a></li>
													<li><a href="blog-details.html">blog details</a></li>
												</ul>
											</li>
											<li><a href="pricing.html">our pricing</a></li>
											<li><a href="contact.html">contact</a></li>
											<li><a href="error.html">404</a></li>
										</ul>
									</li>
								</ul>
	                        </div>
	                    </nav>
	                </div>
					<!-- Main Menu End-->				
					<!--Nav Box-->
					<div class="nav-outer">
						<div class="search-box-outer search-toggler">
							<i class="flaticon-search"></i>
						</div>
						<div class="top-nav-image nav-btn nav-toggler navSidebar-button clearfix">
							<span class="flaticon-more"></span>
						</div>
					</div>
				</div>
				<!--End Header Upper-->
			</div>
			<!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="header-upper outer-box">
                    	<div class="logo-outer">
							<div class="logo"><a href="index.html"><img src="images/Logo-(1).png" alt="" title=""></a></div>
						</div>
                        <div class="menu-area clearfix">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <div class="nav-outer">
							<div class="search-box-outer search-toggler">
								<i class="flaticon-search"></i>
							</div>
							<div class="top-nav-image nav-btn nav-toggler navSidebar-button clearfix">
								<span class="flaticon-more"></span>
							</div>
						</div>
                    </div>
                </div>
            </div>
		</header>
		<!-- End Main Header -->


		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="./images/home-four-logo-img.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="index.html"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="index.html"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="index.html"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="index.html"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->




		<!-- Start Main slider -->
		<section class="main-slider">
			<div class="auto-container">
				<div class="bg-slider-image" style="background-image: url(images/background/medica-banner-img.png);">
					<div class="container">
						<!-- <div class="banner-carousel owl-theme owl-carousel owl-dots-none"> -->
							<div class="item slider-one__slide">
								<div class="banner-style">
									<div class="sub-title">
										<div class="icon-img-box">
											<img src="images/icons/Hover.png" alt="">
										</div>
										<div class="sub-title-text">Your Health is our Priority</div>
									</div>
									<h1 class="banner-title">More than medicine. <br> It's personal.</h1>
								</div>
							</div>
							<!-- <div class="item slider-one__slide">
								<div class="banner-style">
									<div class="sub-title">
										<div class="icon-img-box">
											<img src="images/icons/Hover.png" alt="">
										</div>
										<div class="sub-title-text">Your Health is our Priority</div>
									</div>
									<h1 class="banner-title">More than medicine. <br> It's personal.</h1>
								</div>
							</div>
							<div class="item slider-one__slide">
								<div class="banner-style">
									<div class="sub-title">
										<div class="icon-img-box">
											<img src="images/icons/Hover.png" alt="">
										</div>
										<div class="sub-title-text">Your Health is our Priority</div>
									</div>
									<h1 class="banner-title">More than medicine. <br> It's personal.</h1>
								</div>
							</div> -->
						<!-- </div> -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Main slider -->
		
		<!-- contact system section start -->
		<section class="contact-system">
			<div class="container">
				<div class="contact-items">
					<div class="row clearfix">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="image-blog"><span class="flaticon-phone"></span></div>
								<div class="lower-content">
									<h5><a href="tel:88657524332">+ 1 (246) 333-0088</a></h5>
								   <p>Need help? Call anytime for <br>
									ambulance services</p>
								</div>                              
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="image-blog two">
									<img src="images/resource/email-icon-img.png" alt="">
								</div>
								<div class="lower-content">
									<h5>a Pay your bill</h5>
								   <p>Need help? Call anytime for <br>
									ambulance services</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="inner-box">
								<div class="image-blog three">
									<span class="flaticon-timer"></span>
								</div>
								<div class="lower-content">
									<h5>Open Hours</h5>
								   <p>Mon - Fri: 8:00am to 5:00pm <br>
									Saturday: 9:00am to 3:30pm <br></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- contact system section end -->

		<!-- choose Madica section start -->
		<section class="choose-madica">
			<div class="section-heading parallax-scene parallax-scene-2 parallax-icon">
				<span data-depth="0.40" class="parallax-layer icon icon-1">Medica</span>
			</div>
			<div class="container">
				<div class="blog-section">
					<div class="row clearfix">
						<div class="col-lg-7 col-md-6 col-sm-12">
							<div class="image-box">
								<img src="images/resource/lowodspeker-img-.png" alt="">
							</div>
							<div class="sec-title">
								<h3>Why choose <br>
								<span>Madica ?</span></h3>
							</div>
							<div class="text-title">On the other hand, we denounce with righteous indignation and <br> dislike men who are so beguiled and demoralized by the charms <br> of pleasure of the oment.Lorem ipsum dolor sit amet, conse <br> sadipscing elitr.</div>
							<div class="btn-box">
								<a href="contact.html" class="theme-btn-two">View More</a>
							</div>
							<div class="image-content">
								<div class="banner-carousel owl-theme owl-carousel owl-loaded owl-drag">
									<div class="slide-item">
										<figure class="image-box style-one">
											<img src="images/resource/pasent-img.png" alt="">
										</figure>
									</div>
									<div class="slide-item">
										<figure class="image-box style-one">
											<img src="images/resource/bannar-choose-img.png" alt="">
										</figure>
									</div>
									<div class="slide-item">
										<figure class="image-box style-one">
											<img src="images/resource/pasent-text-img.png" alt="">
										</figure>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-md-6 col-sm-12">
							<div class="right-content">
								<img src="images/resource/microscope-img.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- choose Madica section end -->

		<!-- testimonial section start -->
		<section class="testimonial-section clearfix">
			<div class="top-content">
				<div class="sec-sub_title">Cleaning Plans That Meets Your Needs</div>
				<div class="sec-title">
					<h3>Experienced in multiple medical <br><span>specialities</span></h3>
					<div class="text-title">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the <br> charms of pleasure of the oment.Lorem ipsum dolor sit amet, conse sadipscing elitr.</div>
				</div>
			</div>
			<div class="large-container clearfix">
				<div class="three-item-carousel owl-carousel owl-theme">
					<div class="image-gallery">
						<div class="image-gallery_top">
							<div class="sec-image">
								<img src="images/gallery/heart-img.png" alt="">
							</div>															
							<h1 class="number-list">01</h1>
						</div>
						<div class="image-gallery_bottom">
							<h5 class="depatment_section">
								<a href="service-single.html">Cardiology</a>
							</h5>
							<div class="text-title">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the oment.Lorem ipsum dolor sit amet.</div>
							<div class="icon-img">
								<a href="service-single.html"><span class="flaticon-right-arrow two"></span></a>
							</div>
							
						</div>
					</div>
					<div class="image-gallery">
						<div class="image-gallery_top">
							<div class="sec-image">
								<img src="images/gallery/fracture-img.png" alt="">
							</div>															
							<h1 class="number-list">02</h1>
						</div>
						<div class="image-gallery_bottom">
							<h5 class="depatment_section">
								<a href="service-single.html">Orthopedics</a>	
							</h5>
							<div class="text-title">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the oment.Lorem ipsum dolor sit amet.</div>
							<div class="icon-img">
								<a href="service-single.html"><span class="flaticon-right-arrow two"></span></a>
							</div>
							
						</div>
					</div>
					<div class="image-gallery">
						<div class="image-gallery_top">
							<div class="sec-image">
								<img src="images/gallery/stomach-img.png" alt="">
							</div>															
							<h1 class="number-list">03</h1>
						</div>
						<div class="image-gallery_bottom">
							<h5 class="depatment_section">
								<a href="service-single.html">Gastroenterology</a>	
							</h5>
							<div class="text-title">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the oment.Lorem ipsum dolor sit amet.</div>
							<div class="icon-img">
								<a href="service-single.html"><span class="flaticon-right-arrow two"></span></a>
							</div>
							
						</div>
					</div>
				</div>
				<div class="btn-box">
					<a href="service-single.html" class="specialities-theme-btn">Browse Specialities</a>
				</div>	
			</div>		
		</section>
		<!-- testimonial section end -->

		<!-- Great reasons to download Medica start-->
		<section class="download-medica">
			<div class="container">
				<div class="row clearfix">
					<div class="col-lg-5 col-md-6 col-sm-12">
						<div class="sec-sub_title">Great app to download</div>
						<div class="sec-title">
							<h3>Great reasons to download <span>Medica</span></h3>
							<div class="text-title">On the other hand, we denounce with righteous indignation and dislike <br> men who are so beguiled and demoralized by the charms of pleasure <br> of the oment.Lorem ipsum dolor sit amet, conse sadipscing elitr.</div>
						</div>
					</div>
					<div class="offset-lg-2 col-lg-5 col-md-6 col-sm-12">
						<ul class="right-site-list">
							<li class="check-list">
								<span class="cheack-icon"><i class="flaticon-check"></i></span>
								<h5 class="icon-text">24/7 Medical Consultation</h5>
							</li>
							<li class="check-list">
								<span class="cheack-icon"><i class="flaticon-check"></i></span>
								<h5 class="icon-text">Ongoing Healthcare Help & Support</h5>
							</li>
							<li class="check-list">
								<span class="cheack-icon"><i class="flaticon-check"></i></span>
								<h5 class="icon-text">Doctors Experts in the Industry</h5>
							</li>
						</ul>
					</div>
				</div>
				<div class="video-section">
					<div class="video-content clearfix">
						<div class="vedio-image" style="background-image: url(images/background/pasent-bed-room.png)">
							<div class="image_icon">
								<a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image video-btn" data-caption="">
									<img src="images/icons/play-button.png" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Great reasons to download Medica end-->

		<!-- Meet Our Expert Members start-->
		<section class="expert-member">
			<div class="container clearfix">
				<div class="top-content">
					<div class="sec-sub_title">Our Team Members</div>
					<div class="sec-title">						
						<h3>Meet Our Expert <br><span>Members</span></h3>
						<div class="text-title">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the <br> charms of pleasure of the oment.Lorem ipsum dolor sit amet, conse sadipscing elitr.</div>
					</div>
				</div>
				<div class="three-item-carousel owl-carousel owl-theme owl-loaded owl-drag two">
					<div class="block-content">
						<div class="section-blog-content">
							<div class="bg-shape-img">
								<div class="bg-shape-images">
									<div class="shape-bg_img">
										<img src="images/shapes/member-bg-shape.png" alt="">
									</div>
								</div>
								<div class="inner-img_box">
									<div class="image-box">
										<figure class="image">
											<img src="images/gallery/team-member-one.png" alt="">
										</figure>
										<ul class="social-links-two">
											<li><a href="index.html"><i class="flaticon-facebook"></i></a></li>
											<li><a href="index.html"><i class="flaticon-twitter"></i></a></li>
											<li><a href="index.html"><i class="flaticon-instagram"></i></a></li>
											<li><a href="index.html"><i class="flaticon-linkedin"></i></a></li>
										</ul>
									</div>
									<div class="lower-content_two">
										<h5>
											<a href="team-details.html">Jane Cooper</a>
										</h5>
										<div class="medium-text">Cardiology</div>
										<div class="small-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-content">
						<div class="section-blog-content">
							<div class="bg-shape-images">
								<div class="shape-bg_img">
									<img src="images/shapes/member-bg-shape.png" alt="">
								</div>
							</div>
							<div class="inner-img_box">
								<div class="image-box">
									<figure class="image">
										<img src="images/gallery/team-member-two.png" alt="">
									</figure>
									<ul class="social-links-two">
										<li class=""><a href="index.html" class=""><i class="flaticon-facebook"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-twitter"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-instagram"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-linkedin"></i></a></li>
									</ul>
								</div>
								<div class="lower-content_two">
									<h5>
										<a href="team-details.html">Wade Warren</a>
									</h5>
									<div class="medium-text">Co- Founder</div>
									<div class="small-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled.</div>
								</div>
							</div>
						</div>
					</div>						
					<div class="block-content">
						<div class="section-blog-content">
							<div class="bg-shape-images">
								<div class="shape-bg_img">
									<img src="images/shapes/member-bg-shape.png" alt="">
								</div>
							</div>
							<div class="inner-img_box">
								<div class="image-box">
									<figure class="image">
										<img src="images/gallery/team-member-three.png" alt="">
									</figure>
									<ul class="social-links-two">
										<li class=""><a href="index.html" class=""><i class="flaticon-facebook"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-twitter"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-instagram"></i></a></li>
										<li class=""><a href="index.html" class=""><i class="flaticon-linkedin"></i></a></li>
									</ul>
								</div>
								<div class="lower-content_two">
									<h5>
										<a href="team-details.html">Cameron Williamson</a>
									</h5>
									<div class="medium-text">Accountant</div>
									<div class="small-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled.</div>
								</div>
							</div>
						</div>	
					</div>												
				</div>
			</div>
		</section>
		<!-- Meet Our Expert Members end-->

		<!-- Download app section start  -->
		<section class="apps-download">
			<div class="container">
				<div class="apps-content">
					<div class="parallax-scene parallax-scene-1 parallax-icon">
						<span data-depth="0.40" class="parallax-layer icon icon-1"></span>
						<span data-depth="0.50" class="parallax-layer icon icon-2"></span>
					</div>
					<div class="apps-heading_text">
						<h4 class="heading-title">Download our app and get a free <br> medical appointment</h4>
						<div class="sec-link-btn">
							<a class="view-btn active" href="pricing.html">Download  the App</a>
							<a class="view-btn" href="contact.html">View The Price</a>
						</div>						
					</div>
				</div>
			</div>
		</section>
		<!-- Download app section end  -->

		<!-- customers say section start -->
		<section class="customers-talk">
			<div class="container">
				<div class="bg-lawyer-img">
					<div class="image-shape">
						<img src="images/background/testimonial_background-img.png" alt="">
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="sec-sub_title">Testimonial</div>
						<div class="sec-title"> 
							<h3>what our<br><span>customers say.</span></h3>
							<div class="text-title">On the other hand, we denounce with righteous indignation and dislike men <br> who are so beguiled and demoralized by the charms of pleasure of the <br> oment.Lorem ipsum dolor sit amet, conse sadipscing elitr.</div>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-5 col-md-6 col-sm-12">
						<div class="single-item-carousel owl-carousel owl-theme">                             
							<div class="image-carousel one">
								<h6>The best app for medical <br> appointments</h6>
								<ul class="rating clearfix">
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>							
								</ul>
								<div class="slider-text-title">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”</div>
								<div class="image-block"><img src="images/resource/customer-one.png" alt=""></div>
							</div>
							<div class="image-carousel one">
								<h6>The best app for medical <br> appointments</h6>
								<ul class="rating clearfix">
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
									<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>							
								</ul>
								<div class="slider-text-title">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”</div>
								<div class="image-block"><img src="images/resource/customer-one.png" alt=""></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-lg-5 col-md-6 col-sm-12">
						<div class="single-item-carousel owl-carousel owl-theme">
							<div class="top-item">					
								<div class="image-carousel">
									<h6>Nice design and good <br> template for medical</h6>
									<ul class="rating clearfix">
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>							
									</ul>
									<div class="slider-text-title">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”</div>
									<div class="image-block"><img src="images/resource/customer-two.png" alt=""></div>
								</div>
							</div>
							<div class="top-item">					
								<div class="image-carousel">
									<h6>Nice design and good <br> template for medical</h6>
									<ul class="rating clearfix">
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>							
									</ul>
									<div class="slider-text-title">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”</div>
									<div class="image-block"><img src="images/resource/customer-two.png" alt=""></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-6 col-sm-12">
						<div class="single-item-carousel owl-carousel owl-theme">
							<div class="bottom-item">
								<div class="image-carousel">
									<h6>We get the best services <br>from the medica</h6>
									<ul class="rating clearfix">
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>							
									</ul>
									<div class="slider-text-title">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”</div>
									<div class="image-block"><img src="images/resource/customer-three.png" alt=""></div>
								</div>
							</div>
							<div class="bottom-item">
								<div class="image-carousel">
									<h6>We get the best services <br>from the medica</h6>
									<ul class="rating clearfix">
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>
										<li class="star-icon"><i class="fa fa-star" aria-hidden="true"></i></li>							
									</ul>
									<div class="slider-text-title">“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ”</div>
									<div class="image-block"><img src="images/resource/customer-three.png" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- customers say section end -->

		<!-- singup section start -->
		<section class="singup-section">
			<div class="container">
				<div class="singup-bg-color">
					<div class="bg-map-img">
						<div class="map_image-shape float-bob-x">
							<img src="images/background/map-img.png" alt="">
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-lg-7 col-md-6 col-sm-12">
							<h4 class="singup-title">Schedule an imperson or virtual <br> appointment today</h4>
						</div>
						<div class="offset-lg-1 col-lg-4 col-md-6 col-sm-12">	
							<div class="sec-link-btn">
								<a class="service-btn two" href="contact.html">Book an Appointment</a>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- singup section end -->

		<!-- footer section start -->
		<footer class="main-footer home-one">
			<div class="container">
				<!--Widgets Section-->
				<div class="widgets-section">
					<div class="row clearfix">
						<!--Footer Column-->
						<div class="footer-column col-lg-4 col-md-6 col-sm-12">
							<div class="footer-widget">
								<div class="logo-four">
									<a href="index.html"><img src="images/footer-logo.png" alt="" title=""></a>
								</div>
								<ul class="social-links-four">
									<li><a href="index.html"><i class="flaticon-facebook"></i></a></li>
									<li><a href="index.html"><i class="flaticon-twitter"></i></a></li>
									<li><a href="index.html"><i class="flaticon-instagram"></i></a></li>
									<li><a href="index.html"><i class="flaticon-linkedin"></i></a></li>
								</ul>
								<div class="footer-sub-text">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the oment.Lorem ipsum dolor sit amet, conse sadipscing elitr.</div>
							</div>
						</div>
						<!--Footer Column-->
						<div class="footer-column offset-lg-1 col-lg-2 col-md-6 col-sm-12">
							<div class="footer-widget_four">
								<h4 class="list-heading">Explore Links</h4>
								<ul class="footer-service-list">
									<li><a href="index.html">Our Services</a></li>
									<li><a href="index.html">Meet Our Team</a></li>
									<li><a href="index.html">Our Portfolio</a></li>
									<li><a href="index.html">Laundry Service</a></li>
									<li><a href="index.html">Contact</a></li>
								</ul>
							</div>
						</div>															
						<!--Footer Column-->
						<div class="footer-column col-lg-2 col-md-6 col-sm-12">
							<div class="footer-widget_four">
								<h4 class="list-heading">Utility Pages</h4>
								<!--News Widget Block-->
								<div class="usefull-widget-block">
									<div class="widget-inner">
										<ul class="footer-usefull-link">
											<li><a href="index.html">Style Guide</a></li>
											<li><a href="index.html">Password Protected</a></li>
											<li><a href="index.html">404 Not Found</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>																
						<!--Footer Column-->
						<div class="footer-column col-lg-3 col-md-6 col-sm-12">
							<div class="footer-widget_four">
								<h4 class="list-heading">Contact</h4>
								<ul class="contact-list">
									<li><i class="flaticon-envelope"></i><a href="mailto:info@example.com">contact@mediac.com</a></li>
                                    <li><i class="flaticon-phone"></i><a href="tel:88657524332">(123) 456 - 7890</a></li>
                                    <li><i class="flaticon-location"></i>24 Broadcast Drive Charlotte  NC 28202, USA</li>																	
								</ul> 
							</div>
						</div>																	
					</div>
				</div>
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="clearfix">
						<div class="footer-bottom_text">
                    		<div class="copyright">Copyright &copy; 2023 All rights Reserved</div>
							<div class="Privacy-Policy">
								<a href="index.html">Privacy Policy</a> <a href="index.html"><span>Terms of Use</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer section end  -->
	</div>

	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icofont-rounded-up"></span></div>
	<!--Scroll to top-->
	<script src="js/jquery.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>	
	<script src="js/owl.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/nav-tool.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>