.learn_heading
{
    background-color: rgb(108, 145, 145);
    height: 50px;
    width: 800px;
}
.learn_content
{
        background-color: rgb(131, 133, 166);
        height: 50px;
        width: 900px;  
}