#div1
{
    margin-top: 5px;
    height: 400px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



#bd
{
background-color: black;
overflow-x: hidden;
}

.nav-item
{
  padding: 10px;
}
.navbar
{
  background-color: #22223b;
}

#div_for_dropdown
{
  height: 50%;
}

#search
{
    height: 45px;
    width: auto;
    padding:auto;
    padding-right: 4%;
    padding-left: 10%;
    position: absolute;
    top: 30%;
    right: 35%;
}

#home_icon
{
  height: 40px;
  padding:auto;
  position: absolute;
  top: 28%;
  right:3%;
  order: 2;
  color: white;
}

/* responsive */
@media (max-width: 800px) {
  .navbar
  {
    height: 45px;
  }
  #navbar_brand_image {
   display: none;
  }
  #search
  {
      height: 30px;
      width: auto;
      padding:auto;
      padding-right: 4%;
      padding-left: 10%;
      position: absolute;
      top: 20%;
      right: 20%;
  }
  #home_icon
    {
      height: 18px;
      padding:auto;
      position: absolute;
      top: 25%;
      right:3%;
      order: 2;
      color: white;
    } 
    /* Styles for the login/signup button */
}

/* footer */

/* footer */
.footer {
  background-color: #22223b;
  padding: 70px 0;
  border-radius: 8px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
#fb,#insta,#linkdin,#twiter
{
  padding-top: 22%;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
      width: 100%;
  }
}

#copyright
{
  color: bbbbbb;
}